[2020-04-25 11:09] halvardssm opened #1 "1.0"
Following features are needed for v1.0:

**Databases:**
- [x] PostgreSQL
- [x] MySQL
- [ ] SQLite (WIP)

**CLI:**
- [x] Communicates with db and tracks migrations using a table
- [x] Can rollback a migration
- [ ] Can migrate and rollback multiple files (currently only migrate multiple files)

**Functionalities:**
- [x] Rework the codebase to have a cleaner interface and chained opperations
- [ ]

[2020-04-27 14:30] halvardssm opened #2 "Refactor support for PostgreSQL, MySQL, and SQLite"
Currently the queries and system are optimized for PostgreSQL. This refactoring should separate the logic between the database plugins, and make sure they can work under one interface.

[2020-04-27 14:31] halvardssm commented on #2
/cib

[2020-04-28 08:12] #2 closed

[2020-04-30 07:22] halvardssm opened #6 "Upgrade to Deno v0.42"
Some breaking changes was added to Deno v0.42 so we need to change the code where the compiler and tests are failing.

Steps:

1. Upgrade Deno `deno upgrade`
2. Run the tests `make test` or `make test-clean`
3. Fix broken code
4. Run `deno fmt`

[2020-04-30 16:07] #6 closed

[2020-04-30 19:40] fvilante opened #8 "Doubt about Deno v.0.42"
I just tried to execute [one arbitrary unit test](https://github.com/halvardssm/deno-nessie/blob/master/tests/column.test.ts) using the deno (v.0.42) instalated on my enviroment. Typing:

[code]
But got an compilation Error.

My question: Is this I'm doing possible (calling a test without cloning the repository)? Should Deno work as I expected (fetch all the test dependencies and run the test in m

[2020-04-30 20:04] halvardssm commented on #8
Hi! That might be because I introuced import maps in v0.3.0 3 hours ago. I am actually considering to switch it over to using the deps import, i have a feeling it broke something with using the import maps. As Deno still has around two weeks until v1.0 I think there will be more changes introduced.

I'll post an update soon 👍

[2020-04-30 21:51] halvardssm commented on #8
@fvilante So I managed to figure out the issue. Deno is kind of new to me still so it takes a bit of trial and error to make sure everything works perfectly.

The issue you were facing was because I was using import maps instead of using a dependencies file. It should now all be fixed in the latest release v0.3.3. If you try it out, you should be able to run the test now.

So to answer your questi

[2020-04-30 21:52] #8 closed

[2020-04-30 23:55] fvilante commented on #8
@halvardssm I found the mistake I have made. Just for your acknowledge here it is:

I was typing line (1) below and getting an error (E). When I typed line (2) below the test runned and passed.
[code]

I'm feeding you back because you should consider that "import maps" maybe not be related to the original issue. The fact is that I was using the command line inappropriately. Newcomer's thing :)

Th

[2020-05-01 05:16] halvardssm commented on #8
@fvilante Actually, that was not a mistake from your part, but a problem with import maps. If you run it again but reload the cache, it should work for you.
`deno test --reload https://raw.githubusercontent.com/halvardssm/deno-nessie/master/tests/column.test.ts`

The error you were getting was complaining about the import of the file, since i was importing it with `import {...} from 'std/testing/a

[2020-05-11 06:59] fvilante commented on #8
Wow. The `--reload` thing solved all problems I was experiencing.

Note: I've subscribed to Deno channel on discord.

Thank you a lot fpr your support!

[2020-05-13 09:50] RomainCscn opened #15 "404 Not Found for std@v0.17.0/fmt/colors.ts"
When trying to run `deno run --allow-net --allow-read --allow-write https://deno.land/x/nessie/cli.ts make example`, I have the following error:
[code]

I'm using `deno 1.0.0-rc3`.

[2020-05-13 09:57] halvardssm commented on #15
Hi @RomainCscn , thanks for reporting this bug! I am waiting for v 1.0 of Deno which will be released later today at some point before I go about fixing this so that we don't have to worry with regards to breaking changes. I assume I will have a fix ready by tomorrow (if not earlier) 💪

[2020-05-13 11:09] RomainCscn commented on #15
Perfect, looking forward to testing your lib 👍

[2020-05-14 13:49] #15 closed

[2020-05-14 17:32] halvardssm commented on #15
@RomainCscn It should work without problems now 👍

[2020-05-14 19:52] aronhoyer opened #20 "unable to connect to postgres"
i'm running postgres through docker, exposing `5432` as the port.

i've setup the nessie config

[code]

and running `deno run --allow-net --allow-env --allow-read https://deno.land/x/nessie/cli.ts migrate -c ./nessie.config.ts` yields

[code]

from what i can tell by some cheap console.log debugging, the specified config isn't read and always defaults to

[code]

[2020-05-14 21:09] aronhoyer commented on #20
Seems to me like there’s an issue with how the config file is imported in the `init` method. Are you sure absolute paths are supported?

[2020-05-14 22:49] halvardssm commented on #20
Hi @aronhoyer , thanks for reporting the bug! There seems to be an issue in the path resolving as you said, I have made a pr, and hopefully, I will have it fixed tomorrow after testing 👍

[2020-05-14 23:38] aronhoyer commented on #20
it should also be noted that dynamically importing a file that itself imports something, seems to screw things up.

i've seen both in your cli and a quick sandbox test i just did, that `default` becomes 'undefined` as soon as something is imported to the file we're importing dynamically.

obviously this is an issue out of this packages control, but might be and idea to note in the docs until deno

[2020-05-15 16:33] #20 closed

[2020-05-15 16:35] halvardssm commented on #20
@aronhoyer it is fixed in v0.4.1, let me know if you have any other issues 👍

[2020-05-16 15:19] heithemmoumni commented on #1
mongodb

[2020-05-17 07:59] halvardssm commented on #1
@heithemmoumni I am not certain that this is necessary since MongoDB does not use schemas the same way as RDBMS. However, from what I can see, schema validation was introduced in [v3.6](https://docs.mongodb.com/manual/core/schema-validation/) so it might be worth looking into.

Although I will personally not be looking into MongoDB until v1.0 has landed, I am always open for contributions. So if y

[2020-05-18 04:59] leabstrait opened #22 "Bundling nessie and running it doesn't work"
I want to run Nessie with a shorter command than to type out the whole URL. So I opted for this 'bundling' solution as pointed out in the discord server of deno. However, I have a problem.

```➜ deno bundle https://deno.land/x/nessie/cli.ts deps/nessie_cli.ts```
[code]

[Okay, bundling is done]

```➜ deno run --allow-net --allow-read --allow-write https://deno.land/x/nessie/cli.ts make initialize_

[2020-05-18 19:07] 22mahmoud commented on #20
I still get ```Connection refused ``` error.

[2020-05-18 19:12] aronhoyer commented on #20
i'm wondering, whether you'd have to include the `file://` protocol in your dynamic import. i sandboxed a similar project just to test out similar solutions, and if i remember correctly, that was the trick i came up with.

[2020-05-18 19:22] halvardssm commented on #20
@22mahmoud did you run it with the `--reload` flag?
@aronhoyer `file://` was added in #21 since the dynamic import refused to fetch the local files without. Do you know if this is a permanent feature, or if it is a temporary bug?

Are both of you still having the same issue? Can you paste the error log here or in a gist?

[2020-05-18 19:40] 22mahmoud commented on #20
@halvardssm It works for me with ```--reload``` flag, thank you.

[2020-05-18 19:46] halvardssm commented on #22
Hi @leabstrait ! Thanks for letting me know of this! I haven't tried to bundle it until now, but I can see it being a useful feature. I will add it to the roadmap of v1. I will probably not deal with it until the rest of the functionalities are implemented, but it will be on the list 💪

[2020-05-18 19:58] aronhoyer commented on #20
i believe it to be permanent, @halvardssm, since deno's module resolution is url based. and, since this use case kinda requires the import to come from outside the project directory, i deduce that's the reason that `file://` is required. i might just be talking out of my butt, so i dunno tbh 🤷‍♂️

i haven't tried it yet, but i'll let you know if i encounter the bug again once i get back into it 😄

[2020-05-20 07:09] leabstrait opened #23 "Order of migrations is in descending order of timestamps"
I am getting migrations applied in descending order.

![image](https://user-images.githubusercontent.com/21138552/82415898-ec657500-9a98-11ea-99c3-b2d865788ab1.png)

Also from the debug log:
[code]

[2020-05-20 10:48] #23 closed

[2020-05-20 10:49] halvardssm commented on #23
Thanks for reporting this bug! Also great that you created a PR for it, cheers! 👍

[2020-05-22 15:17] leabstrait opened #25 "Rollback not consistent with the order of migration script it uses"
[code]

Above is a sample run, reproduced a number of times. The migrate and rollback sequence seems to work at first but upon a further run, nessie fails at rollback. I think the reason is due to the migrations being carried out in a short time frame, such that when doing a rollback it can't figure out which one was the last migration.
Here's a part of the debug log:
[code]

It skipped the latest

[2020-05-22 16:29] leabstrait opened #26 "Bulk migration works, migration of the last few files doesn't"
[code]

In the above series of commands I run one rollback after a bulk migration. That rollback reversed one migration but trying to migrate again from this point I get `Nothing to migrate`. I believe the remaining un-migrated script must run but that is not the case.

I think issue #25 must be fixed before this because that gives the correct 'latest migration'. I have a solution that changes `fi

[2020-05-23 07:00] halvardssm commented on #25
Hi @leabstrait ! Thanks for filing this bug!

Regarding the first proposal, is it the bug in #26 ? I don't think there are any edge cases for using
`select max(${COL_FILE_NAME}) from ${TABLE_MIGRATIONS};`
except for if we were to allow multiple migration files to be created at the same time (but will that ever be the case 🤔 ). Looking at the execution time, it is also faster to use this query.

I

[2020-05-23 07:08] halvardssm commented on #26
@leabstrait thanks for filing this bug! Let's get back to this one after #25 is fixed 👍

[2020-05-23 07:20] leabstrait commented on #25
I used `max` but it fails for the check in `filterAndSortFiles`:

`if (queryResult === undefined) return true;`

because queryResult would then be null, and not `undefined`.

Okay I'll look into it and send a PR, if possible using the first proposed query.

[2020-05-23 07:23] halvardssm commented on #25
@leabstrait Sounds good! If you make it work, can you also add a test case to cover this issue?

[2020-05-23 17:30] #25 closed

[2020-05-23 18:25] halvardssm commented on #26
@leabstrait Is this one solved for you after the last merge?

[2020-05-23 18:27] leabstrait commented on #26
Yes it's solved. it can be closed. The tests covered both issues #25 and #26

[2020-05-23 18:27] #26 closed

[2020-05-23 21:01] awildeep commented on #1
What about seed data?

For example in a test environment I may need to seed a DB to run integration tests, or I may need to have certain seed data on initial setup.

[2020-05-24 09:59] halvardssm commented on #1
@awildeep No worries. I am still thinking about how to implement it so if you have any suggestions, I am open for feedback!

One option would be to have it in a separate folder (similar to how Knex and Laravel are doing it) and have a command for it. Another option would be to have a method in the migration script called seed (although custom already exists) which runs the population of the table

[2020-05-24 17:28] awildeep commented on #1
@halvardssm my ideal solution could be just folder based segregation.  You could even keep calling them migrations but just provide a run argument that executes a specified path to allow it to execute properly.  This just leaves you with one command to maintain.

There have been many occasions where I would love to have the flexibility of multiple seed paths (Test seeds [with accompanied reset log

[2020-05-25 21:02] awildeep commented on #1
Any plans to support schemas?  (in this sense I am referring to the DB specific schema, like PostgreSQL https://www.postgresql.org/docs/12/ddl-schemas.html)

[2020-05-25 21:07] halvardssm commented on #1
@awildeep That's a good idea! I will put it on the roadmap 👍 In the meantime, you can use `schema.queryString()` to add schemas manually.

Could you also explain your use-case so that I get a better idea on how to implement it, and what to support for v1.0?

[2020-05-25 22:27] awildeep commented on #1
@halvardssm Schema's in postgresql represent containers in a DB.  They are accessed via dot notation (similar to MySQL targeting across DBs).

Per the docs (https://www.postgresql.org/docs/12/ddl-schemas.html):
There are several reasons why one might want to use schemas:

- To allow many users to use one database without interfering with each other.
- To organize database objects into logical grou

[2020-05-26 10:24] halvardssm commented on #1
@awildeep The only time public in enforced is on the [updatedAt trigger](https://github.com/halvardssm/deno-nessie/blob/master/src/Table.ts#L173), that is most likely the issue.

I was more thinking in a migration, do you use multiple schemas in one migration? I think a simple solution is to add a schema property to the Table class and to use it with the table name by default. I will be a bit busy

[2020-05-26 17:27] awildeep commented on #1
@halvardssm I personally try not to ever do cross schema migrations.  Of course there are sometimes exceptions (eg a DB modification that has cross-schema implications) but I think in most cases this can be worked around.

[2020-05-26 21:21] awildeep commented on #1
@halvardssm confirmed, I removed my updatedAt and it migrated properly, and my rollbacks work as expected.  I'll play around a bit more this week and see if I run into other issues.  What me to open an issue on the updatedAt() trigger?

[2020-05-27 06:55] halvardssm commented on #1
@awildeep I see, then it should be a relatively easy fix. If you could open an issue, we can continue with a PR there 👍 Thanks!

[2020-05-27 16:35] halvardssm commented on #1
@awildeep I think a good next step to minimize bugs would be to decide whether this module should have its own query builder, or if we should integrate other query builders. Both have their pros and cons, and since you have been the most active here lately, I would like to ask you about your thoughts regarding this (everyone else who reads this comment is, of course, welcome to join in on the disc

[2020-05-27 16:35] awildeep opened #33 "[BUG] updatedAt() does not allow PostgreSQL schemas to be used"
**Describe the bug**
When creating a table containing a usage of `table.updatedAt();` and the table is using a PostgreSQL schema the result is a error:

PostgresError: cross-database references are not implemented: "public.my_schema.my_table"
at parseError (https://deno.land/x/postgres@v0.4.0/error.ts:105:10)

**To Reproduce**

Example failing migration:

[code]

**Expected behavior**
I would expe

[2020-05-27 16:46] awildeep commented on #1
@halvardssm Perhaps it would make sense to reach out to the Dex team as well?

As for establishing a new query builder, I am not hugely a fan especially if a dev wants to use their own home brew query builder; being agnostic has some big advantages to me.  Also what if someone wants to use an ORM that is not Dex compatible?

Ultimately I think nessie is likely 99% of the way to what I need.  I hon

[2020-05-27 16:59] halvardssm commented on #1
@awildeep I reached out to the team so I am just waiting for a response regarding this. I have an idea which will make this migration module completely modular in regards to query builders and databases. I will make a PR in the upcoming days which should hopefully cover this transition, and also fix #33 . Thanks for your input, I'll tag you when I have the PR ready 👍

[2020-05-29 15:00] bander-saeed94 opened #35 "Enum example"
It would a time-saver to add more examples. It took me some time to figure out how to make an enum.

I had to check how to do it in PostgreSQL and find out what is wrong.

Before:
[code]

So I had to make a single quote string inside a double-quoted string
After:
[code]

[2020-05-29 22:21] dyedgreen opened #36 "Upgrade Deno SQLite"
Please consider upgrading the SQLite version, see https://github.com/dyedgreen/deno-sqlite/releases

The new version now automatically commits changes to databases to the file-system, and generally is more in-line with how a natively compiled SQLite3 package would function 😃

[2020-05-30 09:20] halvardssm commented on #36
Thanks for the heads up @dyedgreen ! It came right on time for #34 👍

[2020-05-30 09:22] halvardssm commented on #35
Hi @bander-saeed94 , thanks for reporting this bug! I Right now, I am transitioning to a modular structure. As soon as #34 is complete (today hopefully), I will go over the query builder and fix all those small bugs 👍

[2020-05-30 17:38] #33 closed

[2020-05-30 17:38] #36 closed

[2020-05-30 17:43] halvardssm commented on #35
@bander-saeed94 Enums were fixed in #34 , you can use enums without `'` now 💪

[2020-05-30 17:43] #35 closed

[2020-05-31 19:59] bander-saeed94 opened #37 "queryString return void"
I notice a change in the api.
in the example below queryString return void which has no effect I wonder if it is a mistake:

[code]

[2020-05-31 20:23] bander-saeed94 opened #38 "Cli Command not working."
Cli not working.

Running rollback or migrate shows this error:

[code]
[code]

[2020-05-31 21:47] halvardssm commented on #37
Hi @bander-saeed94 ! You are right, this is a bug. Want to take your shot at making a PR? It should be an easy fix in the `query-builder/Schema.ts` file. I will be a bit busy the upcoming days, but a workaround is to call the `toQuery()` method 👍
[code]

[2020-05-31 21:48] halvardssm commented on #38
Hi @bander-saeed94 ! Have you tried with adding the `-r` flag? v0.5 has a lot of breaking changes, and these errors look like some version missmatch.

[2020-06-01 07:52] bander-saeed94 commented on #37
Sure I will.

[2020-06-01 17:20] bander-saeed94 commented on #38
Yes. I also had to update nessie.config.ts file.

[2020-06-01 17:20] #38 closed

[2020-06-01 17:52] bander-saeed94 opened #39 "PostgresError: syntax error at or near "\""
When Running migrate with a create table that has timestampsTz().

The error:
Error:CREATE OR REPLACE FUNCTION trigger_set_timestamp() RETURNS TRIGGER AS $$ BEGIN NEW.updated_at = now()\; RETURN NEW\; END\; $$ language 'plpgsql';CREATE TABLE tbl_user (id uuid PRIMARY KEY, username varchar (25) not null UNIQUE, email varchar (35) default null UNIQUE, phone_number numeric (12) default null UNIQUE, f

[2020-06-01 18:43] bander-saeed94 opened #41 "Default string value"
having a varchar with default value
table.string("name", 100).default("update wallet name");

toSql:
CREATE TABLE tbl_wallet (name varchar (100) default update wallet name)

expected:
CREATE TABLE tbl_wallet (name varchar (100) default 'update wallet name')

[2020-06-01 19:28] halvardssm commented on #41
Thanks for reporting this bug! Will put it on the list

[2020-06-01 19:33] halvardssm commented on #39
Hi! Unfortunately, during the transition from the previous to the new structure, `updatedAt` and `updatedAtTz` ended up with a bug. It's currently on the top of my list 👍

[2020-06-01 20:16] Leonardo-Rocha commented on #39
I'm facing the same problem here. Waiting for a fix.
The other things are working pretty well, thanks @halvardssm !

[2020-06-01 20:19] bander-saeed94 commented on #41
I am planing to do it this way in Clomun.ts
//
[code]

[2020-06-01 20:48] #37 closed

[2020-06-01 20:51] halvardssm commented on #41
@bander-saeed94 Are we sure that only these types should be wrapped in `'`? Are there any documentation regarding this? If so, I'm all for it. Want to give it a go?

[2020-06-01 21:05] bander-saeed94 commented on #41
No, I am not sure. I will google it and share my findings.
We also need to consider null. Even though the column type is a string it shall not be in a single quote. we might introduce a function to set a default value to null.

[2020-06-02 08:06] #39 closed

[2020-06-02 08:12] halvardssm commented on #39
@bander-saeed94 @Leonardo-Rocha version 0.5.1 is now released which fixes this issue 👍

[2020-06-02 15:58] bander-saeed94 opened #44 "Update Readme Example"
The example needs to be updated.
I also wonder why the schema was removed from the input it was saving some typing. I understand the dialect was removed from the nessie.config.ts file however I think we only need it to be defined once.

query += ...; does not work anymore since the return type is string[]
[code]

I think the ultimate would be something like:
[code]

[2020-06-02 16:17] halvardssm commented on #44
Hi @bander-saeed94 ! The schema was moved from the input to reduce the overhead for when you want to use other query builders i.e. Dex. So regarding defining the dialect only once, I agree it would be fewer lines per file, but ultimately it wouldn't work with the modular system for every query builder since each one uses different names for the databases (take postgres for example, we can use `pg`

[2020-06-02 20:12] Leonardo-Rocha commented on #39
Working just fine now. Thanks!

[2020-06-03 05:36] bander-saeed94 commented on #41
So, after you told me about Dex. I checked it and found it is based on knex internally.
I checked the source code:
https://github.com/knex/knex/blob/da54cf1ecf0acef4b3d3d51cd2656e4faf10d3e9/lib/schema/columncompiler.js

I find this piece of code helpful
[code]

[2020-06-03 10:32] halvardssm commented on #41
That seems like a useful implementation, if you use it, please leave a javadoc stating where it is from (like a link to the file+line or something) 👍 The logic for default is found in `query-builder/Column.ts`

[2020-06-03 10:35] halvardssm commented on #44
Readme is updated, so I will close this issue, but I will open a new one where we can discuss exposing schema in the migration files

[2020-06-03 10:35] #44 closed

[2020-06-03 10:52] halvardssm opened #46 "[Discussion/Poll] Bring back exposed schema in the migration files"
In the initial versions of Nessie, the query-builder was exposed in the migration methods `up` and `down`. In v0.5 this was removed to reduce the files you had to download if you only wanted to use the migration tool and not the built-in query builder, or if you prefer a third-party tool like Dex (port of knex).

From what I can see, we have these options (I'm personally leaning towards the first

[2020-06-03 10:56] halvardssm commented on #44
#46

[2020-06-03 12:48] halvardssm commented on #46
@awildeep @leabstrait @bander-saeed94 Do you have any thoughts about this? (calling you guys since you have the history of being the most active here) 😄

[2020-06-03 14:02] awildeep commented on #46
To be fair, I have not been using the query builder much at all as a lot of my current code requires writing postgresql specific functions, triggers and partitions that are not supported and probably are not widely used enough to even consider.  I lean toward whatever method I can use to disable loading the query builder at all that fits your time and schedule.

[2020-06-03 16:59] bander-saeed94 commented on #46
Hi @halvardssm I would go with decoupling as the modular way you have done.
It would nice to have ```exposeSchema: true``` but I don't think should be a priority.

[2020-06-03 18:12] halvardssm commented on #22
Hi @leabstrait ! I think bundling finally works with Deno 1.0.5 and with Nessie 0.5.2 🎉 Can you confirm this?
`deno bundle https://deno.land/x/nessie@v0.5.2/cli.ts nessie_cli.js`
`deno run --allow-net --allow-read --allow-write nessie_cli.js init`

[2020-06-03 20:31] kitchanismo opened #49 "[BUG] the migration file name"
**Describe the bug**
The migration file name after timestamp became 'true' after make command.
1591215665344-true.ts

**To Reproduce**
Steps to reproduce the behavior:
 deno run --allow-net --allow-read --allow-write https://deno.land/x/nessie/cli.ts make create_users

**Expected behavior**
1591215665344-create_users.ts

**System (please complete the following information):**
 - OS: Windows 10
 -

[2020-06-03 20:40] halvardssm commented on #49
@kitchanismo Should be fixed in v0.5.3 👍

[2020-06-03 20:40] #49 closed

[2020-06-03 20:55] kitchanismo opened #50 "[IDEA] Strict fields within create function in Model"
**Is your feature request related to a problem? Please describe.**
I want to implement repository pattern. It makes the code robust.

**Describe the solution you'd like**
maybe you can get those fields from model itself.

[2020-06-04 01:54] leabstrait commented on #22
Hi @halvardssm,

Yes it works @v0.5.2

Also, the bundle is a .js file, I see. I was trying to bundle it to .ts extension at first, but while running it, there were errors about typing. I changed it to .js and it worked promptly. Not a problem for me, just an observation.

I came to this problem when thinking of a solution like python virtualenvs which let you use specific versions of packages for

[2020-06-04 06:26] halvardssm commented on #50
Hi @kitchanismo ! Thanks for the idea! Could you explain how you would like to implement the repository pattern and also add some examples? Also, do you mean the query builder, clients, or the cli?

[2020-06-04 06:32] halvardssm commented on #22
Great! `deno bundle` bundles the code into ESM JS so that it can run without the tsc overlay, I dont think bundling to TS will be supported anytime soon 🤔 Technically you can achieve what you want, but you will have to bundle each and every external module manually, and also get the types separately. I would probably use `deps.ts` for now and maybe move over to import maps when this is stable 💪

[2020-06-04 06:32] #22 closed

[2020-06-04 12:56] #41 closed

[2020-06-04 18:04] #46 closed

[2020-06-05 00:58] iwatakeshi commented on #1
Hi. I'm not sure what's the roadmap for `deno-nessie` but it would be nice if it could become something like [Ecto](https://github.com/elixir-ecto/ecto). I'm fairly new to Elixir and Ecto but I really like how querying and validations are done. Would it be something that can be considered?

[2020-06-05 06:55] halvardssm commented on #1
Hi @iwatakeshi ! Nessie is mainly a database migration module, and from what I understood, Ecto is more like a query execution tool? There are already a lot of alternatives in this regard which are fully compatible with Nessie (https://deno.land/x/ -> and search for `sql`). To be compatible with Nessie, they simply have to return a query string or an array of query strings in the migration/seed fi

[2020-06-05 15:12] iwatakeshi commented on #1
@halvardssm Yeah, Ecto has a nice way of separating concerns and I highly recommend anyone to try it out in their free time. :)

I would like to contribute, but I'm recently started to learn the backend stuff so if you don't mind me learning and contributing at the same time, then count me in.

[2020-06-05 15:17] halvardssm commented on #1
Sounds good! The TS logic is mostly the same for both FE and BE, so it should be a good learning experience 💪 It's as simple as to open an issue (Choose the idea template), describing what you want to add, get some feedback, and then make a pr 😄

[2020-06-05 18:39] bander-saeed94 opened #56 "Update Readme, Object is possibly 'undefined'"
**Describe the bug**
Object is possibly 'undefined'

**To Reproduce**
Having
[code]

I overcome it by adding exclamation mark:
[code]

[2020-06-05 19:10] halvardssm commented on #56
Which Nessie version are you on?

[2020-06-05 20:20] bander-saeed94 commented on #56
Latest. I just run `--reload `
This is because queryBuilder type is: Schema | undefined

[2020-06-05 20:28] bander-saeed94 commented on #56
![image](https://user-images.githubusercontent.com/29840356/83919849-2cf50c00-a784-11ea-8427-19820dbe21aa.png)

[2020-06-06 01:34] Leonardo-Rocha opened #57 "[QUESTION] Facing problems with connections - github actions"
Hey @halvardssm , I'm using using nessie with local containers and they're working great. However, when I tried to use it in github actions, nessie won't connect (using postgres), it gives me the following error:

[code]
Have you already faced this error? Can you help me?
Here are the files:
[nessie.config.ts](https://github.com/Knights-of-Tupan/dungeons-and-denos/blob/master/src/database/nessie.c

[2020-06-06 05:58] halvardssm commented on #56
It is fixed in rc2 👍

[2020-06-06 06:05] halvardssm commented on #57
Hi @Leonardo-Rocha ! Your hostname should probably be localhost. Let me know if this solves it for you 💪

[2020-06-06 17:52] Leonardo-Rocha commented on #57
It didn't work, same error :(

[2020-06-07 21:08] halvardssm commented on #57
hm, try to run it with the -d flag, it should give some debugging output and make it easier for you to see where things are going wrong. Let me know when you have updated with this so that I can take a look 🤔

[2020-06-07 21:10] #56 closed

[2020-06-07 21:15] halvardssm commented on #1
Version 1.0 will be scheduled for release on Wednesday the 10th of June! 🎉 After this, the API will be declared as stable and follow semantic versioning as much as possible.

[2020-06-08 00:59] seljabali opened #59 "[BUG] [ERROR]: Property 'queryBuilder' is missing in type"
**System (please complete the following information):**
 - OS: Mac 10.13.6
 - Deno version 1.0.0
 - Nessie version v1.0.0-rc2

**Describe the bug**
I run the following to init:
[code]
& get [ERROR]: Property 'queryBuilder' is missing in type error.

**To Reproduce**
1. Run `deno_sample deno run --allow-net --allow-read --allow-write https://deno.land/x/nessie/cli.ts init`
2. See error

**Expected

[2020-06-08 08:30] halvardssm commented on #59
Hi @seljabali ! Thanks for repporting this bug! It will be fixed when #58 lands 👍

[2020-06-08 13:43] inmanturbo commented on #59
I can confirm the same issue. Excitedly waiting the fix! Look like it will be a great package!

[2020-06-08 13:47] #59 closed

[2020-06-08 13:48] halvardssm commented on #59
@seljabali @inmanturbo I merged the PR now, it should work in rc3 when I release it in a minute 👍

[2020-06-08 20:15] bander-saeed94 commented on #56
Hello @halvardssm I think the issue still exists

[2020-06-08 20:26] halvardssm commented on #56
What issue are you facing? It looks fine for me after refreshing the cache (adding the `-r` flag)
<img width="558" alt="Screenshot 2020-06-08 at 22 25 05" src="https://user-images.githubusercontent.com/33620089/84077039-484f5980-a9c6-11ea-8ad0-74e61b863125.png">
<img width="558" alt="Screenshot 2020-06-08 at 22 25 22" src="https://user-images.githubusercontent.com/33620089/84077043-4a191d00-a9c6-1

[2020-06-08 20:38] bander-saeed94 commented on #56
Yah, it is working. Thanks

[2020-06-12 07:50] gabrielgrover opened #61 "[QUESTION] How to specify client for migration"
So I am trying to follow the read me and create a migration.  I have ran both

```deno run --allow-net --allow-read --allow-write https://deno.land/x/nessie/cli.ts init```
```deno run --allow-net --allow-read --allow-write https://deno.land/x/nessie/cli.ts make create_users```

What is strange is that the make create_users creates a sqllite.db file.  I would like to use postgres.  Is there some se

[2020-06-12 08:52] halvardssm commented on #61
Hi @gabrielgrover ! The nessie config generated by the init command will contain the settings for pg, mysql and sqlite. By default when `ClientSQLite` is created (`const clientSqLite = new ClientSQLite(clientOptions, "./sqlite.db");`), it will contain the path to the sqlite, and create a file accordingly. To solve this, you can simply remove the mysql and sqlite config. By default, it uses postgre

[2020-06-12 08:52] #61 closed

[2020-06-12 15:16] gabrielgrover commented on #61
Thanks @halvardssm that worked!  Also thanks for building this, cannot wait to explore it more!

[2020-06-12 16:06] gabrielgrover opened #62 "[BUG] Error after migration makes it so I cannot rollback"
**System (please complete the following information):**
 - OS: OSX 10.14.6
 - Deno version 1.0.5

**Describe the bug**
After running the sample migration file in the README I get an error (pasted below).  The migration seems to have worked, but there wasn't an entry made in the nessie_migrations table.  Therefore when I try to rollback I get a message saying "nothing to rollback"
**To Reproduce**

[2020-06-14 11:06] halvardssm commented on #62
Hi @gabrielgrover ! Thanks for reporting this bug! The issue you are facing is because the query builder does not handle the ordering of the columns.

To get around this, you can change your query string to
`INSERT INTO users (id, name, is_true, custom_column, created_at, updated_at) VALUES (DEFAULT, 'Deno', true, 2, DEFAULT, DEFAULT);`
or the shorthand:
`INSERT INTO users (name, is_true, custom_c

[2020-06-21 05:04] inmanturbo commented on #59
This error still persists.

[code]
[code]

[2020-06-21 07:11] halvardssm commented on #59
@inmanturbo have you tried to run it with `—reload`?

[2020-06-22 02:10] inmanturbo commented on #59
Nope. Thanks that fixed it. Sorry Deno is still new still learning it forgot about the cache. Thanks again!

[2020-06-22 20:38] halvardssm commented on #59
No problem!

[2020-07-14 10:19] njpearman opened #67 "[BUG] Bump deno to v1.2 and std to v0.61"
**System (please complete the following information):**
 - OS: macos
 - Deno v1.2.0
 - Nessie 0.10.0

**Describe the bug**

Deno v1.2 has introduced a breaking change around the `URL` constructor, strictly requiring a type of `string`. This means any modules referencing `std` need to be bumped to v0.61 to work with Deno v1.2. See [https://github.com/denoland/deno/issues/5365#issuecomment-658051958

[2020-07-14 16:12] njpearman opened #68 "[IDEA] Add an API that allows indexes to be created in standalone migrations"
Hi,

I'm trying out `nessie` at the moment for managing a greenfield, small PostgreSQL database in a really small Deno project. I'm new to Deno and server-side JS but very used to building web apps with Ruby on Rails.

I just created a migration to add an index but had to use raw SQL to do it. This is fine with me for what I'm doing now, but do you have plans to extend out the `Schema` / `Table` c

[2020-07-16 14:02] halvardssm commented on #68
Hi @njpearman ! Good thing you brought it up! I have actually not thought about this after I discovered other query builders. After the migration and seed functionalities were completed, I found a couple of other modules focusing on being a query builder (e.g. http://deno.land/x/dex) so I decided to focus Nessie on the migration and seed functionalities and let other modules improve their query bu

[2020-07-16 14:10] halvardssm commented on #67
Hi @njpearman ! Good thing you noticed this! You can submit the PR when you are ready, and I will review it as soon as possible to get it available with a new tag! From what I can see, Denomander and Postgres have had the update merged, but MySQL and SQLite are not yet up to date. If you submit the PR with an update to the CI (just change the Deno version to 1.2), we can see if the pipeline succee

[2020-07-16 16:27] njpearman commented on #68
Hey.

I see. I was a little confused which came first in your project, `QueryBuilder` or `Dex` :D

I'm keen to contribute. Between submitting this PR and your response, I've actually gone off and put together my own barebones approach to migrations, but the structure of the Migration class and files is quite different to how you've tackled it. I'm happy to share if you're interested in seeing the

[2020-07-16 16:30] njpearman commented on #67
Okay. It's annoying that neither `denomander` nor `deno-postgres` have tagged a version for the fixes yet so I guess it should wait until they do. I'll keep an eye out for when they do.

[2020-07-16 19:30] halvardssm commented on #68
Well, the creation of Nessie and Dex started around the same time, and when I discovered Dex, I had already created something barebone of a QB, so I decided to just finish up a basic one in case someone found it useful.

The thing with migrations is that they should ideally be isolated instances, meaning that I should be able to take a migration file from anywhere (made with Nessie ofc) and it sho

[2020-07-20 11:51] halvardssm commented on #57
I assume this issue has been taken care of, and that this is no longer a problem so I will close this issue 😄

[2020-07-20 11:51] #57 closed

[2020-07-20 11:53] halvardssm commented on #50
As there haven't been any updates on this issue, I will close it for now

[2020-07-20 11:53] #50 closed

[2020-07-24 06:09] ThisIsMohsen opened #69 "[BUG] Argument of type 'string | URL' is not assignable to parameter of type 'string'"
- OS: Win 64
 - Deno version [1.2.0]
 - Nessie version [latest]

hi,
i can init configuration in first step with this command:
`deno run --allow-net --allow-read --allow-write https://deno.land/x/nessie/cli.ts init`

this is output:

  Type 'URL' is not assignable to type 'string'.
  return new URL(url).pathname
[code]
    at https://deno.land/std@v0.55.0/path/posix.ts:438:18

TS2345 [ERROR]: Argu

[2020-07-24 08:00] halvardssm commented on #69
Hi @ThisIsMohsen ! Thanks for submitting this bug! The source of this issue is Deno 1.2 due to the breaking changes with the URL signature. We already have an issue tracking this (#67 ), and we are currently waiting for Denomander and Postgres to create a new release version 👍

[2020-07-24 08:52] njpearman commented on #68
I'll try to put something together to show you next week (been a bit busy with other things this week!)

I completely agree with what you're saying about both migrations being isolated, and understand your goal to allow users to  switch in different ways of interacting with schemas.

The problem I found with making a concrete migration return a `string` or `string[]` is that it binds the way migra

[2020-07-28 20:05] halvardssm commented on #67
@njpearman Denomander now has version 0.6.3 👍

[2020-07-28 20:05] halvardssm commented on #67
Do you want me to assign this issue to you?

[2020-07-28 20:10] halvardssm commented on #68
I am open to change if the reason is sound enough, and it makes sense. I only have the requirement that it should be as minimalistic as possible, and each migration file should work independently of the nessie/deno version. I'm looking forward to seeing your proposal!

[2020-08-01 04:39] Yamboy1 commented on #67
Also, as an alternative to tagged releases, it's possible to use commit hashes instead of tags, if you want a quick and dirty way to lock down the version.

[2020-08-03 11:18] njpearman commented on #67
@halvardssm `deno-postgres` still doesn't have a release with the v1.2 upgrade but I'll use the commit hash hack as suggested by @Yamboy1 . `sqlite` is still not on Deno v1.2, which seems fine to me as I can't see any `stdlib` refs but I might be wrong.

[2020-08-03 11:20] njpearman commented on #68
Cool :)

I'll be honest, I have too many other things building up to look at this, which is a shame. If I get back around to it, I'll let you know. In the meantime, I'll use `nessie` as is and make a note of anything interesting I think of.

[2020-08-03 12:06] halvardssm commented on #67
Perfect! I actually forgot about the hash hack, but good thing @Yamboy1 thought of it! I looked over your PR, and I think we can deem it good to merge as long as the tests pass 👍

[2020-08-03 12:10] halvardssm commented on #68
No worries! We can keep this issue open and keep it as a discussion thread for the design of the migrations 😄

[2020-08-06 08:36] #67 closed

[2020-08-06 08:36] #69 closed

[2020-08-06 17:03] Yamboy1 commented on #67
Actually, with the new [deno_registry2](https://github.com/denoland/deno_registry2), the hash idea doesn't work anymore, you can only use tagged releases now, so i think you'll need to use github raw or something else to do that, not entirely sure tho

[2020-08-06 17:04] Yamboy1 commented on #67
ah, that's what you are doing, :+1:

[2020-08-06 20:53] narwy opened #72 "[BUG] CLI migrate command not working"
Latest everything on windows:

`docker exec -it api deno run --allow-net --allow-read --allow-write https://deno.land/x/nessie/cli.ts migrate`

[code]

[2020-08-06 21:23] narwy commented on #72
Just realised it's not pulling v1.0.4 from the deno.land/x

@halvardssm you need to add the module again to deno.land/x and setup the github webhook and do another tag / release for it to appear up

[2020-08-06 21:34] #72 closed

[2020-08-06 22:19] halvardssm commented on #72
Yeah, just realized that I missed the notification about this. It should be added now 👍

[2020-08-10 20:11] uncodable opened #73 "[IDEA] foreign key support in table"
Support to assign a table a foreign key.

[2020-08-17 13:26] halvardssm commented on #73
Hi @narwy ! Good idea! I am very busy at the moment, so if you could submit a PR, I can merge it 👍 You can add this method to `Table.ts`

[2020-09-10 11:23] xcatliu opened #76 "Consider using Pagic to build the website?"
[Pagic](https://pagic.org) is a static site generator powered by Deno + React

Here are some demos:

- [pagic.org](https://pagic.org)
- [Deno X ranking](https://yoshixmk.github.io/deno-x-ranking/)
- [TypeScript 入门教程](https://ts.xcatliu.com/)

If it is possible to use pagic to build the website, I would like to create the pull-request

[2020-09-15 23:09] giggio opened #77 "[BUG] TS2790 [ERROR]: The operand of a 'delete' operator must be optional"
**System (please complete the following information):**
 - OS: Ubuntu 20.04.1
 - Deno version: 1.3.3
 - Nessie version: 1.0.4

**Describe the bug**
When running on 1.3.3 it gives the error.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a migration
2. Run: `deno run --allow-net --allow-read --allow-write https://deno.land/x/nessie@v1.0.4/cli.ts migrate`
3. See error

**Expected behavi

[2020-09-25 17:40] #77 closed

[2020-09-25 17:42] halvardssm commented on #76
Hi @xcatliu , thanks for submitting this issue! I am a bit unsure how we would use this static site generator with this project, could you explain which website you were thinking about? 😊

[2020-10-07 08:15] gaylonalfano opened #79 "[QUESTION] Should I use Nessie's or deno-postgres's DB client and query builder?"
Your question
Question is in the title. I see that Nessie uses deno-postgres as a dependency, so I'm wondering should I just use Nessie's db client and query builder, or the basic deno-postgres version? Does it matter which one I use?

The deno-postgres query builder has a couple of helpful interfaces (i.e., QueryConfig, QueryResult) that have been helpful. Anyway, just curious as I do eventually

[2020-10-07 20:56] halvardssm commented on #79
Hi! I would advise you to not use the Nessie QB unless you need something really small and not complicated. Otherwise, I would recommend you to look at other query builders like dex 😄

Regarding the client, I just released a new migration syntax which I have been working on for some time, which exposes the Postgres client in the class. Just follow the example in the readme or example (look at the

[2020-10-07 20:57] halvardssm commented on #76
I will close this issue now due to inactivity. Let me know if you have a follow-up, and I can open it up again!

[2020-10-07 20:57] #76 closed

[2020-10-08 01:40] gaylonalfano commented on #79
Great! Thanks for clarifying. I'll give it a go and leave any feedback if necessary. Thank you for providing such a useful module!

[2020-10-08 01:40] #79 closed

[2020-10-12 08:39] gaylonalfano opened #81 "[QUESTION] Getting started questions (e.g. Nessie & deps.ts, separate db configs, experimental classes, etc.)"
Your question
Hi There -- I can break these questions into multiple if that would help. I have some beginner/starter questions for you if you don't mind.

**Background**: I already have a basic _(very)_ Deno + Oak + Postgres project going. For example, in my application I have a custom config.ts file that pulls in my Postgres creds from a .env file. I also have a basic db.ts file that establishes

[2020-10-12 09:19] halvardssm commented on #81
Hi @gaylonalfano ! Great that you are reaching out! Let me answer your questions one by one.

1. I created the config with reusability in mind, which is why you can pass along the entire config from your db.ts folder (the config is simply passed onto the client).

2. You can use whatever you want to use, or which users your database allows. (following the deno-postgres docs is probably the simples

[2020-10-12 09:33] gaylonalfano commented on #81
This is great and thank you for the quick reply! Glad to hear I can/should reuse my config where it makes sense.

Another related question:

I noticed that to execute Nessie CLI commands we have to point to the Nessie module URL. Normally we specify dependencies with the version, but is that necessary with Nessie? Deno complains a little when I do not specify the version, but I guess in Nessie's c

[2020-10-12 09:42] halvardssm commented on #81
Absolutely! Happy that you find this module useful!

Regarding Nessie, I am trying to keep to the semantic versioning as much as possible, but to be on the safe side (specially since these are database migrations), you should lock the version number or at least to the minor version (e.g. `1.1.0` or `~1.1.0`)

[2020-10-12 11:23] #81 closed

[2020-10-13 00:34] gaylonalfano opened #82 "[BUG] nessie.config.ts migrationFolder and seedFolder paths not taking effect"
**System (please complete the following information):**
 - OS: Mac OS Catalina
 - Deno version 1.4.2
 - Nessie version 1.1.2

**Describe the bug**
When I initialize Nessie running the standard command: `deno run --allow-net --allow-read --allow-write https://deno.land/x/nessie/cli.ts init`, it creates a `project/db` directory inside my current working directory (`project`), as well as the default

[2020-10-14 14:03] gaylonalfano commented on #82
Okay, I may have resolved the directory issue by using the `--reload` flag. I'm still trying it out but it seems like I can now run my Nessie commands and the custom paths I configure for migrations and seeds are working. I'll test a bit more and then close.

I now am running into a
[code]

Here's the output from the `migrate` command with the `TypeError: MigrationClass is not a constructor`:
[cod

[2020-10-15 05:23] #82 closed

[2020-10-15 05:45] gaylonalfano opened #83 "[QUESTION] Experimental classes - Basic configuration and setup for Postgres"
Your question
Hello - Alright, this is slow going for me but I'll get there eventually. I'm pretty sure it's not a bug, so I wanted to first confirm my basic configuration with you. For some reason whenever I try to perform my first `migrate` with a basic `create_users.ts` migration file, I encounter a `TypeError: MigrationClass is not a constructor` (see below).

## My Basic Config
<details>
  <s

[2020-10-18 12:15] halvardssm commented on #83
Hey @gaylonalfano ! Thank you for reporting this bug! I found the issue with the default import, to say it like this: You did everything correctly. I am merging the changes as soon as the pipeline passes, and I will release it under version 1.1.1.

I appreciate the time you spent reporting this!

[2020-10-18 12:17] #83 closed

[2020-12-19 02:25] dariocoroneldev opened #85 "Typescript Node The operand of a 'delete' operator must be optional. Ts(2790)error"
**System (please complete the following information):**
 - OS: macos
 - node v12.19.0
 - typescript 4.1.3

**Describe the bug**
when i making a simple post on my node aplication i recibe the request body i making a normal post for a user so when i take all the user data and i execute a save before i send my json i have to delete the password for use in the get so is when the bug appears in a messa

[2020-12-19 07:43] halvardssm commented on #85
Hi, this is a typescript specific feature which is better asked on stack overflow than here, but as I was curious, I searched up the error and here is the solution. Hope it helps 😊 https://stackoverflow.com/questions/63702057/what-is-the-logic-behind-error-the-operand-of-a-delete-operator-must-be-opti

[2020-12-19 07:44] #85 closed

[2020-12-20 16:47] dariocoroneldev commented on #85
Thanks, i'm a new programer sorry for making my question on the wrong place, i gonna use more stackoverflow i didn't know anything jet about this incredible world! thanks!

[2020-12-26 12:47] mamereu opened #86 "[BUG] std versions prefixed with 'v' were deprecated recently"
**System (please complete the following information):**
 - Linux 5.9.15-200.fc33.x86_64
 - Deno version 1.6.1
 - Nessie version 1.1.2

**Describe the bug**
Import fails with the following message:
`
Warning std versions prefixed with 'v' were deprecated recently. Please change your import to https://deno.land/std@0.61.0/fmt/colors.ts (at https://deno.land/std@v0.61.0/fmt/colors.ts)
error: Import '

[2020-12-28 03:10] aphagon commented on #86
You can use this link cmd => deno cache https://denopkg.com/aphagon/deno-nessie@v1.1.5/mod.ts

[2021-01-10 17:34] #86 closed

[2021-01-11 01:38] bramirez96 opened #92 "[QUESTION] Unable to connect"
Hello again and sorry to be a bother,

I'm currently getting the following error when attempting to run migrations:

[code]

I'm using the same connection object when connecting to my database with Postgres and it is connecting fine and I'm able to run queries. I've ran the script with reload and I've done other debugging making sure that the correct config file is being loaded. If I dont' specify

[2021-01-11 07:42] halvardssm commented on #92
Hi @bramirez96 !

No problem, it's the first time I have heard of or seen this error. Do you have a link to your project? Or could you make a minimal example so that I can see if there might be something?

[2021-01-11 23:00] bramirez96 commented on #92
Yes, thanks! Here's a link to the repo: [https://github.com/bramirez96/deno-server-ss](https://github.com/bramirez96/deno-server-ss).

It's my first Deno project as well and it's heavily in construction, so if you have any other unrelated suggestions, I'm very open to hearing them!  Again, my postgres database connects perfectly fine when I'm running queries, but falls flat when I attempt migratio

[2021-01-12 09:39] halvardssm commented on #92
I couldn't find any Nessie config file, are you sure you are using Nessie?

From what I could see, you are trying to mix Node and Deno which is not a good idea. I have an example of a server at https://github.com/halvardssm/ms-auth-user-role. It is not complete by any means, but it should be a good indication on how to start 😄

[2021-01-13 05:44] bramirez96 commented on #92
Ah sorry, it wasn't working and I remove the nessie config in favor of using Knex in a node shell only to run migrations (my bad I forgot 😅). I want to move away from it and get Nessie working but would using Node only for migrations be an issue as they're not runtime scripts? I'll take a look at your example server, thank you!

[2021-01-13 11:23] halvardssm commented on #92
I made a template repo with some code which should be up to date https://github.com/halvardssm/deno-rest-api 🎉

[2021-02-20 17:29] Teddy-Schmitz opened #93 "[BUG] Expermental Mode never populates nessie_migrations table"
**System (please complete the following information):**
 - OS: linux
 - Deno version 1.7.2
 - Nessie version 1.1.3

**Describe the bug**
When a migration is run with experimental mode turned on the nessie_migrations table never gets populated.

I took a look at the code in AbstractClient.ts and it seems that if experimental mode is enabled it will never get to QUERY_MIGRATION_INSERT because thats

[2021-02-24 19:55] halvardssm commented on #93
Hi @Teddy-Schmitz ! Thank you for submitting this issue! It seems to be the case as you have described, would you like to try to submit a PR? If not, I will have a look over the weekend/next week 😄

[2021-02-25 10:13] Teddy-Schmitz commented on #93
Sure I'll take a look at it

[2021-02-27 15:14] halvardssm opened #95 "[IDEA] Implement transactions"
**Is your feature request related to a problem? Please describe.**
When running a migration, it should start a transaction as default, unless this is disabled in config. The transaction should also be possible to commit in migration file, and to start new transaction. This will allow the migration to not make any changes in case of errors.

**Describe the solution you'd like**
Utilize the transact

[2021-03-07 09:39] halvardssm opened #96 "[IDEA] Enable support for multiple migration and seed sources"
**Is your feature request related to a problem? Please describe.**
When using other modules, sub projects or the likes, there could be multiple sources of migrations and seed files. This is more of an edge case, and will most likely not impact the average user of this library, but it is a good feature to have. This should allow for multiple directories in the config file and optionally also by usi

[2021-03-07 09:48] halvardssm opened #97 "Remove client default config"
Default client should be removed from `state.ts` as it does not improve the user experience of this library. When no client is specified, it should simply throw an error.

[2021-03-07 09:58] halvardssm opened #98 "Change migrations timestamps"
**Is your feature request related to a problem? Please describe.**
 The generated migrations should to be of format YYYYMMddHHmmss for better readability and future proofing.

**Describe the solution you'd like**
Add a command to the cli for converting timestamps to to datetime format. Also add a new option in settings for telling Nessie that the migrations are in datetime format when generating n

[2021-03-07 11:15] halvardssm opened #99 "Move query builder to its own repo"
Move the query builder to its own repo and remove it from Nessie

[2021-03-07 16:52] #93 closed

[2021-03-07 17:00] #99 closed

[2021-03-07 17:06] halvardssm commented on #73
Will close as query builder is moved to https://github.com/halvardssm/deno-query-builder/issues/1

[2021-03-07 17:06] #73 closed

[2021-03-07 17:07] halvardssm commented on #68
Will close this as the query builder has been moved to https://github.com/halvardssm/deno-query-builder

[2021-03-07 17:07] #68 closed

[2021-03-07 17:08] halvardssm commented on #62
Will close this as the query builder is moved to https://github.com/halvardssm/deno-query-builder

[2021-03-07 17:08] #62 closed

[2021-03-07 17:09] #92 closed

[2021-03-07 18:47] #97 closed

[2021-04-11 11:52] halvardssm opened #104 "[IDEA] Add code coverage report to tests"
**Is your feature request related to a problem? Please describe.**

Add coverage report to the ci. See https://github.com/oakserver/oak/blob/main/.github/workflows/oak-ci.yml

[2021-04-12 13:53] #98 closed

[2021-04-12 14:11] halvardssm opened #105 "[IDEA] Only allow snake case for migration file names"
File names should only allow `a-z`, `0-9` and `_`, and be prefixed with the creation date in `yyyymmddHHMMss` format.

Example of valid filenames:

- `20200520131415_my_first_migration.ts`
- `20200520131415_migration2.ts`
- `20200520131415_1.ts`

Example of invalid filenames:

- `migration.ts`
- `20200520131415-migration.ts`
- `20200520131415_MIGRATION.ts`
- `20200520131415_MyMigration.ts`

[2021-04-19 19:12] mitom18 opened #106 "[BUG] Cli migrate cannot import config file on Windows"
**System:**

- OS: Windows
- Deno 1.9.0 (error also on 1.8.3)
- Nessie version 1.2.0

Error when running `deno run -A --unstable https://deno.land/x/nessie/cli.ts migrate -c .\nessie.config.ts`
[code]
Error is caused by [this line](https://github.com/halvardssm/deno-nessie/blob/0def30dfff35cdfb2a323b783159fea134a97a0c/cli/utils.ts#L13). Looks like Deno has problem reading file path with the `file:

[2021-04-20 08:20] halvardssm commented on #106
Hi @mitom18 ! Thanks for filing this bug! I think this can be fixed by doing a check for if the os is windows and then not include "file://" string to the parse path method as it works on mac and linux. Would you be able to submit a PR with this change?

[2021-04-20 10:05] mitom18 commented on #106
Thanks for quick response @halvardssm ! I tried to remove the "file://" string on Windows. The problem with `exists(this.configFile)` is solved, however, the `import(this.configFile)` is not working without the "file://" prefix (https://github.com/halvardssm/deno-nessie/blob/main/cli/state.ts#L31,L32). Looks like Deno bug, I will open an issue in their repo.

[2021-04-20 10:26] halvardssm commented on #106
Thanks for checking this out! Can you reference the issue you open here as well? Might be worth doing a workaround for now, but I am not sure when I will have time to sit down and work on it this week.

[2021-04-20 10:46] mitom18 commented on #106
Sure, here is the link denoland/deno#10266. I might have some time at the end of the week, will try to work it out. 🙂

[2021-04-20 12:08] mitom18 commented on #106
@halvardssm So in the end, a fix is needed on deno-nessie site. There is apparently a difference between file path and URL when they are used as strings. Import function is needing URL form and Deno.lstat is needing the file path form. One approach could be that nessie works with URL objects instead of strings (https://github.com/denoland/deno/issues/10266#issuecomment-823208275). Or strings can b

[2021-04-20 15:18] halvardssm opened #107 "[IDEA] Add priority for seed files"
**Is your feature request related to a problem? Please describe.**

The seed files are currently run without any set order (if any it is alphabetical). We should add a property to the migration files which tells Nessie in which order the files should be run and if there are any dependencies/priorities.

As far as my imagination goes, we could do it the following ways, but feel free to chime in if

[2021-04-27 15:25] #106 closed

[2021-05-07 18:40] willsoto opened #111 "[BUG] client.query is not a function"
**System (please complete the following information):**

- OS: macos
- Deno version

[code]

- Nessie version `1.2.4`

**Describe the bug** A clear and concise description of what the bug is.

When copying from the examples and running the migration, the following error is thrown:

[code]

**To Reproduce** Steps to reproduce the behavior:

1. Create a migration according to examples in readme
2. R

[2021-05-07 18:44] willsoto opened #112 "[BUG] Unable to provide a client to AbstractMigration class"
**System (please complete the following information):**

- OS: macos
- Deno version

[code]

- Nessie version `1.2.4`

**Describe the bug** A clear and concise description of what the bug is.

I cannot provide a client to the `AbstractMigration` class as specified in the [examples](https://github.com/halvardssm/deno-nessie/blob/main/examples/migration-class-experimental.ts#L6) and docs.

**To Repr

[2021-05-07 21:31] halvardssm commented on #111
Hi @willsoto ! That is correct, it occurs to me that the docs are not completely clear regarding this. The client is the same client as you specify in the config file, meaning that for postgres, it is the client with the methods specified [here](https://github.com/denodrivers/postgres). Since v0.6.0 of postgres, the methods are `queryArray` and `queryObject`.

Try to change your migration file to

[2021-05-07 21:34] halvardssm commented on #112
Hi @willsoto ! I mentioned this in #111 as well, but I will mention it here as well for future reference in case anyone stumbles across the same. This is how you should use the generic type:

[code]

By doing this, you will see the proper typehint.

Let me know if this solves it!

[2021-05-07 21:49] willsoto commented on #112
That works! Thanks

[2021-05-07 21:50] willsoto commented on #111
That works! Thanks

[2021-05-08 08:31] #112 closed

[2021-05-08 08:31] #111 closed

[2021-05-08 21:00] #96 closed

[2021-05-14 12:00] ConorHaining opened #117 "[BUG] Unable to run migration, cannot import module"
**System (please complete the following information):**

- OS: Windows 10 (Build 19041) running WSL2 (Ubuntu 20.04.2 LTS)
- Deno version: deno 1.10.1
- Nessie version 1.3.1

**Describe the bug** A clear and concise description of what the bug is.

When attempting to run a migration, and this is currently the only migration, I am unable to do so as the path for the migration is being pulled from de

[2021-05-16 13:22] halvardssm commented on #117
Hi @ConorHaining ! Thanks for reporting this bug. I can't immediately find the fix, so I will have to investigate a bit, but I will keep you updated.

[2021-05-17 07:54] beagleknight commented on #117
Hello! I am taking a look at it (even I am a super Deno noob 😅 ). I think I know where the bug comes from. If I change my `nessie.config.ts` like this it works:

[code]

I assume there is something related to the path where we are importing the `ClientPostgreSQL`. I will try to fix it myself 💪

[2021-05-17 12:13] #117 closed

[2021-05-17 12:16] halvardssm commented on #117
Thats the conclusion I also reached. The issue was related to another bug from last week, but it should be good with v1.3.2 💪🏻

[2021-05-17 16:52] ConorHaining commented on #117
Thank you so much @halvardssm, confirmed it's working in v1.3.2 👍

[2021-05-19 09:59] #104 closed

[2021-05-20 22:39] halvardssm commented on #105
Due to conflicts and too much rewriting, this change will be released in v2.

[2021-05-27 04:11] richardanaya opened #123 "Rollback using nessie v2 wiped my whole database"
the command:

`deno run -A --unstable https://deno.land/x/nessie/cli.ts rollback`

<img width="887" alt="Screen Shot 2021-05-26 at 9 08 52 PM" src="https://user-images.githubusercontent.com/294042/119764683-b8205380-be66-11eb-970b-9db101d0237b.png">

in your v2 documentation you say it should only rollback 1 by default

<img width="894" alt="Screen Shot 2021-05-26 at 9 10 56 PM" src="https://user-

[2021-05-27 08:56] halvardssm commented on #123
Hi @richardanaya ! Good thing you caught this! I wonder why the tests didn't catch this, but it seems like they are due for an improvement! I will get a hotfix out for this today 💪🏻

[2021-05-27 09:20] halvardssm commented on #123
Released version 2.0.0-rc3! It should be fixed now, but let me know if you are still experiencing the issue

[2021-05-27 17:19] richardanaya commented on #123
Verified fixed, and checked the other options too :)

[2021-05-27 17:19] #123 closed

[2021-05-29 13:40] halvardssm opened #126 "[IDEA] Nessie Docker image"
With the release of the official deno docker image https://github.com/denoland/deno_docker/pull/136 and Nessie v2, a docker image should be present to use as a part of pipelines and local development where docker is heavily used.

[2021-05-31 17:21] richardanaya commented on #126
I could see this being really useful to folks who aren't familiar with the deno eco system and want just a simple command.

[2021-06-04 09:11] halvardssm commented on #126
@richardanaya There is a release candidate available in the v2 brach, you can already try out the image using the instructions found in the readme 💪🏻

[2021-06-24 12:59] #105 closed

[2021-06-24 12:59] #126 closed

[2021-06-27 12:56] halvardssm opened #129 "[IDEA]: Status command"
### Your idea

Add `status` command to get information about the current situation of the migrations, e.g. how many migration files exists, how many have been migrated, and how many are left. Should also include a flag to list the filenames.

[2021-06-28 08:49] halvardssm opened #130 "[IDEA]: Add sponsor notices"
### The Idea

As the development of this module has so far been inspired by my own needs, future maintenance and features will depend entirely on my time, needs, and motivation. Maintaining an open-source module is time-consuming as APIs are changing constantly, and breaking changes happens more often than I would prefer.

To be able to continue with active development of the module, some donation

[2021-06-29 10:05] halvardssm opened #131 "[IDEA]: Consider removing the latest and next tag from docker image"
### The Idea

As `latest` and `next` will eventually introduce breaking changes to the clients, this should be removed and only specific versions should be used.

Open for feedback.

[2021-07-12 13:07] halvardssm opened #132 "[IDEA]: Add support for custom seed and migration template"
### The Idea

For larger and company projects, there might be a benefit to provide a path (or URL) to a custom seed and migration template for the creation of new migration and seed files.

[2021-08-15 08:41] #129 closed

[2021-08-15 10:05] #130 closed

[2021-08-17 12:44] NewtTheWolf commented on #132
this would be very nice because i dont generate the migrations with nessie, i created a own command to use my own template >.<

[2021-08-31 23:19] Druue opened #135 "[Bug]:"
### Operating System

Win10

### Deno version

1.13.2

### Nessie version

2.0.1

### Bug description

[code]
nessie.config.ts
[code]

### Steps to reproduce

Fresh Deno project using import-maps - import_map.json
[code]
Install nessie CLI utility.
[code]
Attempt to generate migration:
[code]

### Aditional information

_No response_

[2021-09-07 01:57] deadmanwalking74 commented on #111
i'm getting same error for sqlite...how do I fix?

[2021-09-07 01:59] deadmanwalking74 commented on #61
It appears nessie.config.ts is ignored when I try to run a migration. it says `this.client` is undefined.

[2021-09-13 11:37] kluzzebass commented on #107
I've just been prefixing the seed files with a number (like `10_my_seed_file.ts`), which seems to work fine.

[2021-09-13 11:39] kluzzebass commented on #132
I second this. Currently my template loads external up/down SQL files, because writing DDL as individual TS statements is a pain in the behind, and syntax highlighting is dodgy at best.

[2021-09-13 19:57] ebebbington commented on #135
@Druue Nessie (afaik) isn't aware that you want to use an import map, i'm guessing nessie would need to provide a flag where you can pass in the path to your import map

[2021-09-13 20:39] ebebbington commented on #107
@halvardssm what about time stamps, like how laravel/atisan do it?

[2021-09-13 20:42] ebebbington commented on #107
@halvardssm why not take the laravel approach, and the user create/define a base seeder class that runs the other seeders? for example from a php project:

[code]

[2021-09-13 22:18] ebebbington opened #137 "[IDEA]: Restrict permissions in README"
### The Idea

i think it would be great if the readme enforced the idea of strictor permissions, ie instead of `-A`, it'd be `--allow-write=db`

[2021-09-13 22:53] ebebbington opened #138 "[IDEA]: Add foundation when creating a seed or migration and remove raw imports"
### The Idea

I think it would be nice to add some more foundation into these files when they are created, just to save the developer a bit more time, eg creating a migration would result in

[code]

Also it'd be nice for the imports to use a local deps.ts, *most* people use a `deps.ts` at root level so i think it'll be safe to do `import { ... } from "../../deps.ts"`, this does shave off some tim

[2021-09-13 22:54] ebebbington commented on #138
Happy to work on a pr should  you agree

[2021-09-13 23:03] ebebbington commented on #131
+1 on this, whilst latest is useful when basing from ubuntu images for example (`FROM ubuntu:latest`), those types of images wont reallt incur breaking changes like a deno module could introduce

In that case, i think using latest for nessie (whilst beneficial because people dont have to update the version number), encourages people to use it and even possible use it in production

[2021-09-13 23:07] ebebbington opened #139 "[IDEA]: Use a deps file for imports in config"
### The Idea

Be great if the generated config file imports from a `"./deps.ts"` file, where nessie would also append the exports into the `deps.ts` file

And again, always happy to open a PR

[2021-09-27 23:10] halvardssm commented on #139
Hey @ebebbington ! Thanks for sharing your idea! Could you expand a bit on what you imagine this to look like? Do you have some examples?

[2021-09-27 23:15] halvardssm commented on #138
Hi @ebebbington ! For the first part: Do you mean that we should have a way to automatically generate seed files for the migrations we create? For the second part: we could add an optional property to the config object for auto adding the deps file, and I am happy to review PRs!

[2021-09-27 23:18] halvardssm commented on #137
Hi @ebebbington ! I am aiming for the examples to be as beginner-friendly as possible, so I will assume that those who are seeking stricter permissions also knows how to use them. That being said, I am not opposed to adding this to the readme, so feel free to submit a PR with an _aditional_ example in the readme for the stricter permission 👍🏻

[2021-09-27 23:21] halvardssm commented on #135
Hello @Druue ! Exactly as @ebebbington said: Nessie is not built with import maps in mind.

Import maps are currently unstable/not fully implemented, so this might change in the future once import maps have matured a bit. For now, I suggest using a deps.ts file, or using the URL import directly 😊

[2021-09-27 23:22] halvardssm commented on #135
As this is not a bug, I will transfer this issue to discussions

[2021-10-05 18:39] ebebbington commented on #139
sorry for not getting back to you sooner, so the `init` command would not produce this:

[code]

and instead it would export those deps from a deps file, and import them from the config file:

[code]

[code]

[2021-10-05 18:40] ebebbington commented on #139
This will make dependency management much easier, saves the user having to move them into a deps file themselves

[2021-10-05 18:45] ebebbington commented on #138
1. Yeah, kinda, it applies to both seeders and migrations i guess, it's a matter of being able to specify the 'skeleton sql query' in the `run()` method, so nessie would try get the type of query and table name from the path, eg `create_users_table` may result in `this.client.queryArray('CREATE table users')` but after thinking about it, is this really worth it?

2. To be honest, i think it's bett

[2021-10-05 18:45] ebebbington commented on #137
will try get to this at some point then 👍

[2021-10-05 18:47] ebebbington commented on #132
What would a template look like, other than the skeleton nessie provides when creating the file? Can't imagine much code could be shared - when it gets down to the query logic, it's very very specific right? Be interested to hear more about templates though

[2021-10-05 19:12] ebebbington commented on #137
actually @halvardssm, whilst i understand your point, i *personally* think it can be more detrimental to use `-A`, because then it shows these users that they can just use `-A` willy nilly, whereas with the restrict permissions:

- explicitely tells the user what nessie will do
- doesn't discourage people (whilst may make it simpler for beginners, may turn off experienced developers)

And it reall

[2021-10-30 14:12] #137 closed

[2021-10-30 15:12] halvardssm commented on #138
@ebebbington Finally a weekend where I have time to look over issues 😅

1. I don't think this amount of automation is fit for the Nessie project, but it could be an extension? As always, I'm happy to review some PR's or code examples if you have a clear idea in mind 😄
2. I am not comfortable auto importing deps.ts, mainly due to the case that there is no set way of working with Deno, hence there m

[2021-10-30 15:47] halvardssm commented on #139
Hey! So, I don't think I want to provide this as an option as initializing Nessie is a one time thing, and it gives minimal return for the effort. In general, I don't think it is good to do this as everyone has their own way of structuring a repo, and it is better if they modify the files themselves. Nessie should be as standalone as possible, so you should be able to create a repo, do `nessie ini

[2021-10-31 10:06] #132 closed

[2021-10-31 10:17] halvardssm commented on #107
I am inclined to the approach from @ebebbington but the question is then the implementation. I would say that the default behaviour should be the seed name in ascending order, and then an optional property in the config object (or a CLI flag) can give a path to a seed runner file. The only thing on my end which I am not too sure about is whether this should be a class or a function, but seeing as

[2021-10-31 10:20] halvardssm commented on #138
@ebebbington Custom migration and seed templates are now available in Nessie 2.0.4. Let me know if this is sufficient for this issue 😄

[2021-11-04 20:41] Klumper opened #146 "[Bug]: Argument of type 'string | URL' is not assignable to parameter of type 'string'."
### Operating System

macOS Monterey 12.0.1

### Deno version

deno 1.15.3

### Nessie version

2.0.4

### Bug description

I'm trying to run my first migration, but it keeps throwing the following error:

[code]

The migration file:
[code]

### Steps to reproduce

1. Run `deno run -A --unstable https://deno.land/x/nessie/cli.ts make:migration make_users`
2. Past the content of the migration file

[2021-11-04 23:44] halvardssm commented on #146
Hi @Klumper ! The issue you are experiencing is due to Dex and not Nessie. I see that dex is no longer available on Github, so unfortunately I can not forward the issue there, so my best suggestion would be to manually write the SQL, or find another SQL query builder (if you do, please let me know so that I can write an example using it instead of Dex). Let me know how it goes!

[2021-12-04 15:59] halvardssm commented on #146
I will close this issue due to inactivity. Add a comment if you wish to reopen the issue

[2021-12-04 15:59] #146 closed

[2021-12-12 19:53] #138 closed

[2022-01-09 09:45] suneg commented on #95
This would be really useful.

[2022-03-17 19:15] ralyodio opened #148 "[Bug]: NessieConfig not found"
### Operating System

Linux

### Deno version

deno 1.19.2

### Nessie version

2.0.1

### Bug description

can't import module NessieConfig

### Steps to reproduce

[code]

### Aditional information

[code]

[code]

[2022-03-17 19:17] ralyodio commented on #148
[code]

[2022-03-18 21:41] halvardssm commented on #148
Hi @ralyodio ! Are you exporting the type and class from the deps file?

Your deps should look like this:

[code]

[2022-04-15 15:32] halvardssm commented on #148
Hi @ralyodio ! Are you still experiencing this issue?

[2022-04-20 05:45] #148 closed

[2022-04-25 15:26] PrakashDahal commented on #85
I think this is perfectly fine @dariocoroneldev. It is all about learning and growing.
I found my solution because of you. Thank you

[2022-07-01 23:00] ralyodio opened #151 "[IDEA]: Mariadb example"
### The Idea

Can we get a Mariadb example?

[2022-07-03 18:14] halvardssm commented on #151
Hi @ralyodio ! The MySQL example should also cover MariaDB. Is there anything for the MySQL example that does not work?

[2022-07-23 02:41] marcosadriano05 opened #154 "[Bug]: Seed database"
### Operating System

Ubuntu 20.04.4 LTS

### Deno version

1.24.0

### Nessie version

2.0.6

### Bug description

I try to seed the database with some fake data to run integration tests, in the seed file, i try to import the Json file with the data and iterates over the array and save on the database on each value as the code below:
[code]
When i run the seed command, this is the output:
[code]

[2022-07-25 08:30] captainjapeng opened #155 "[IDEA]: Add support for cockroachdb"
### The Idea

Currently when migrating with cockroachdb it throws the following error:

[code]

[2022-07-29 05:46] jcs224 commented on #155
A PR is awaiting review https://github.com/halvardssm/deno-nessie/pull/153

[2022-07-29 05:57] captainjapeng commented on #155
Yeah, I was about to submit a PR as well when I saw yours.

[2022-07-31 13:27] halvardssm commented on #151
Will close as MariaDB is covered by MySQL. If there is still missing documentation, write it here and I will reopen the issue.

[2022-07-31 13:27] #151 closed

[2022-07-31 14:11] halvardssm commented on #155
Version 2.0.7 is now released with CockroachDB support according to the PR 🎉  Any feedback is appreciated!

[2022-08-01 07:31] halvardssm commented on #154
Hi @marcosadriano05 ! This seems to be an issue with how you use the postgres client. I would take a look at the [documentation](https://deno-postgres.com/#/?id=executing-queries) for deno postgres to see if you are passing the arguments wrong. Maybe you can try with the object syntax instead?

[code]

I will close this issue as it is not a bug with Nessie.

[2022-08-01 07:31] #154 closed

[2022-08-01 07:32] #155 closed

[2022-10-27 15:57] mechanoid opened #160 "[Bug]: mysql dependency breaks after new deno_std release 0.160.1"
### Operating System

macOS Ventura 13.0

### Deno version

1.26.2

### Nessie version

2.0.9

### Bug description

deno_std@0.160.1 was released today, and the mysql driver depends on god_crypto, that had incorporated the std lib without version reference. The mysql driver has an issue for that and already implemented a fix (see https://github.com/denodrivers/mysql/issues/131) which is not yet re

[2022-10-28 06:24] mechanoid commented on #160
thx @pandres95 !

[2022-10-28 09:04] #160 closed

[2022-10-28 09:12] halvardssm commented on #160
Hey @pandres95 @mechanoid ! New version has been released `2.0.10` 🎉

[2022-10-30 07:39] mechanoid commented on #160
@halvardssm super cool, thx a lot 🙇‍♂️

[2022-10-31 11:43] akatechis opened #163 "[Docs]: Remove jsdoc comment about `exposeQueryBuilder`"
### Operating System

Windows 11

### Deno version

1.27.0

### Nessie version

2.0.8

### Bug description

The JSDoc comment for `Info` suggests there's an `exposeQueryBuilder` option that can be used to inject a query builder into migrations, but no such option exists on `NessieConfig`.

### Steps to reproduce

See docs

### Aditional information

I think I would actually prefer if the query bui

[2022-11-02 07:23] ralyodio opened #164 "[Bug]: hash no longer in 1.27.0 of deo"
### Operating System

Linux Ubuntu 20.04

### Deno version

1.27.0

### Nessie version

latest

### Bug description

Getting this error:

[code]

Trying to run migrations.

### Steps to reproduce

vFound latest version 1.27.0
Checking https://github.com/denoland/deno/releases/download/v1.27.0/deno-x86_64-unknown-linux-gnu.zip
36.1 MiB / 36.1 MiB (100.0%)
Deno is upgrading to version 1.27.0
Archive

[2022-11-02 07:26] ralyodio commented on #164
I think you're relying on a super old version of god cryto

[2022-11-16 18:14] anishkny commented on #164
I was seeing something similar locally which turned out because I was importing an old version `nessie@2.0.0`. Once I upgraded to `nessie@2.0.10`, it worked fine.

I am curious, what does your migration file look like?

[2022-11-19 03:19] ralyodio commented on #164
v2.0.10 works now. Thanks

[2022-11-19 03:19] #164 closed